.logo {
	font-family: "Raleway", sans-serif;
	@include font(700, 24px, 1.17);
	color: var(--accent-color);
	@include desktop {
		@include font(700, 26px, 1.19);
	}
}

.logo__part--dark {
	color: var(--main-color);
}

.logo__part--light {
	color: #ffffff;
}

.logo-header {
	padding-top: 16px;
	padding-bottom: 16px;
	@include tablet {
		padding-top: 26px;
		padding-bottom: 26px;
		margin-right: 88px;
	}
	@include desktop {
		margin-right: 93px;
		padding-top: 24px;
		padding-bottom: 25px;
	}
}
.logo-footer {
	display: block;
	padding: 0px;
	margin-bottom: 20px;
}
.logo-wrap {
	@media screen and (max-width: 1199px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@include desktop {
		width: 231px;
	}
}
