:root {
	--accent-color: #2196f3;
	--main-color: #212121;
	--add-color: #757575;
	--title-color: #212121;
	--background-clr: #ffffff;
	--add-bckgrnd-clr: #f5f4fa;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
